# Dependencias para trabajar con Google Sheets
gspread==5.7.0
oauth2client==4.1.3



# Dependencias para la detección de idioma
langdetect==1.0.9
pycountry==22.3.5
langcodes==3.3.0

# Dependencias adicionales


# Dependencias para Render (ejecutar Flask en un servidor)
numpy==1.23.0
pandas==1.5.0
flask==2.2.0
gunicorn==20.1.0
